html,
body {
 
  font-family: 'Lato', sans-serif !important;
}

a {
 
  text-decoration: none;
}

.textcolorch{
  color: blue;
}

.temp:nth-child(2) {
  max-width: fit-content !important;
}

* {
  
}


