html,
body {
 
  font-family: 'Lato', sans-serif !important;
}

a {
 
  text-decoration: none;
}

.textcolorch{
  color: blue;
}

@media screen and (min-width: 992px) {
  .media-div {
    position: fixed;
    left: 50%;
    top: 10%;
    z-index: 3;
  }
}          